<div class="container">
	<div class="row">
		<footer class="footer">
			<p class="footer__copyText">Copyright 2018 David Redmond&copy</p>
		</footer>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9jngMdmrnzpXBfIB5DwvedE-FkQ1LvPo&callback=initMap"></script>
<script type="text/javascript">
//Declaration of Google Maps API
			function initMap() {
					const location = {lat: 52.231582, lng: 21.001778};
					const map = new google.maps.Map(document.getElementById('map'), {
						zoom: 16,
						center: location
					});
					const marker = new google.maps.Marker({
						position: location,
						map: map
					});
		}
//Calling Google Maps
		initMap();
</script>

</body>
</html>
