<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title%></title>
<!-- I need to insert the css files from public soon -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<!--
				Hello! I guess you are here to check the code. I have to apologise right off the bat, there is little to no naming conventions and I have used ids to target some elements for styling.
				This was made when I was starting out and I designed it based on a paid for template, that I couldn't afford.
				If you still see this message I haven't updated the site to version 1.2, if you don't see this mes.... well, never mind.

				So please, feel free to look around, Its built on express and EJS, If you need to see better code check out my github - https://github.com/Daver2910

				Thanks!
				David Redmond -->
	<!--needs to add fonts & jQuery lib-->
</head>
<body>
	<div class="container">
		<div class="row">
		<nav class="navbar nav-default transparent" id="menu">
				<ul class="nav navbar navbar-nav navbar-right">
				<li class="active"><a href="/">HOME</a></li>
				<li><a href="/portfolio/">PORTFOLIO</a></li>
				<li><a href="/about/">ABOUT</a></li>
	<!--			<li><a href="/blog/">BLOG</a></li>  -->
				<li><a href="/contact/">CONTACT</a></li>
			</ul>
		</nav>
		</div>
	</div>
