<div>
    <div id="hero" class=" hero__image hero__image--main">
        <div id="hero-overlay" class="hero__overlay">
        </div>
    </div>
    <div id="hero-text" class="hero__content">
        <h1 class="hero__text"><%= $t.home.hero.title %></h1>
        <button class="hero__button" type="button"  onclick="hireMe()" id="hero-button"><%= $t.home.hero.button %></button>
    </div>
</div>
