<div class="portfolio__item">
    <a href="/portfolio/"><img class="portfolio__image"  src="/images/<%= project.img %>"  alt="placeholder"></a>
    <div class=" portfolio__card portfolio__card--blue">
        <br>
        <h4 class="portfolio__cardTitle"><a href="<%= project.url %>" target="_blank"><%= project.title %></a></h4>
        <p class="portfolio__cardText"><%= project.description %></p>
    </div>
</div>
