<div id="myModal" class="modal">
    <div class="modal__content">
        <span id="modalX" class="modal__closeBtn">&times;</span>
        <h1 class="modal__title"><%= $t.global.modalTitle %></h1>

        <% include ./form %>

    </div>
</div>
