<div class="skillbox col-md-4 col-lg-4 col-sm-4">
    <div class="skillbox__holder">
        <h5 class="skillbox__title"><%= skill.name %></h5>
        <div class="skillbox__progress">
            <div style="width: <%= skill.pc %>%" class="skillbox__progress--percent"></div>
        </div>
        <p class="skillbox__level">Expert <span class="pull-right"><%= skill.pc %>%</span></p>
    </div>
</div>
