<h1>admin panel</h1>


<form action="/blog" method="POST">
    <label for="title">Post Title</label>
    <input type="text" name="title" id="title">

    <label for="body">Post Body</label>
    <textarea type="text" name="body" id="body"></textarea>

    <label for="body">Post Category</label>
    <textarea type="text" name="body" id="body">

    <button>Save</button>
</form>

<!--<p>Welcome =>>/-->
