<% include Partials/header %>

<div id="myModal" class="modal">
    <div class="modal-content">
            <span id="modalX" class="close">&times;</span>
            <form method="POST" action="/">
              <h1 class="">I will reply within 24 hours, of call me on this number</h1>
              <div class="form-group">
                  <label>Name</label>
                  <input name="name" class="form-control" placeholder="David is my name, What's yours?">
              </div>
              <div class="form-group">
                  <label>Email address</label>
                  <input name="email" class="form-control" placeholder="david@david-redmond.com">
              </div>
              <div class="form-group">
                  <label>Phone Number</label>
                  <input name="phone" class="form-control" placeholder="+48 574 532 754">
              </div>
              <div class="form-group">
                  <label>Message</label>
                  <textarea name="message" class="form-control" placeholder="Message me here, tell me about your offer or download my CV in the right bottom corner">
                  </textarea>
              </div>
              <div ><button type="submit" id="sendBtn">SEND MESSAGE</button></div>
            </form>
          </div>
</div>
<div>
  <div id="hero">
    <div id="hero-overlay">
    </div>
  </div>
  <div id="hero-text">
      <h1 >NEED A WEB DEVELOPER?</h1>
      <button class="" type="button" onmouseover="mouseOver()" onmouseleave="mouseLeave()" onclick="hireMe()" id="hero-button">HIRE ME!</button>
  </div>
</div>
<div class="container-fluid"><!-- contains banner img bg.-->
    <div class="row about-box">
      <div class="col-lg-4 profile-pic">
            <img class="img-responsive" id="profile-pic" onmousemove="tracker(event)" src="https://i.imgur.com/pHmcXEg.jpg" alt="David's Face">
        </div>
        <div class="col-lg-8">
            <h1>ABOUT ME</h1>
          <h4>Hi, welcome to my site. there is lots to see so have a look around.</h4>
            <br>
          <p>I am David, I'm a web developer living and working in Warsaw, Poland, but I'm originally from Ireland. At the moment, I work for  large electronics company working on UX/UI.</p>
          <p>I'm an avid cyclist, I have an amazing fiancee and I love working on the front and back end of websites.</p>
          <p>I am constantly learning new languages, frameworks, skills to improve my abilities and keeping up-to-date on the latest trends.</p>
          <p>Bootstrap, Django, Javascript, jQuery are the main languages and frameworks I use to build sites, but I am constantly expanding. I love programming and I am currently pursuiting a Computer Science degree.</p>
          <p>For more information please contact me below.</p>
          <p>or send me an <a href="mailto:mail.davidredmond@gmail.com"> email</a> and we can discuss your project.</p>
        </div>
    <div class="col-md-12 text-center baseline">
          <h3 class="left">Tel. <i class="fas fa-phone"></i>  +48 574 532 875</h3>
          <h3 class="right">WhatsApp <i class="fab fa-whatsapp"></i>  +48 574 532 875</h3>
    </div>
</div> <!-- end of banner img bg -->
</div>
<br><br><br><br>
<!-- below is the portfolio code-->
<div class="container-fluid bg01"> <!--contains white space bg-->
    <Div class="container">
      <div class="row spacer-100">
        <h1 class="header">PORTFOLIO</h1>
      </div>
  <div class="row spacer-50">
      <div class="col-md-4 H435">
          <div class="client-sites">
              <a href="http://127.0.0.1:8000/portfolio/"><img class="img-thumbnail" src="https://i.imgur.com/JHwQg14.png" alt="placeholder"></a>
          </div>
          <div class="blue-description">
            <h4><a href="http://effectivethesis.com/" target="_blank">Effective Thesis</a></h4>
              <br>
                <P>Effective Thesis was a remote project I have worked on and continue to do so. Effective Thesis a volunteer group based in Prague, CZ. I was engaged to improve the frontend of the website to provide a more user friendly experience. I started by making the website responsive - meaning that the page will adapt and change layout depending on the size of the device screen. This involved Javascript vanilla, Bootstrap, Git and Github since we were working remotely. The website is built on Django, a Python framework.</P>
          </div>
      </div>
      <div class="col-md-4 H435">
          <div class="client-sites">
              <a href="http://127.0.0.1:8000/portfolio/"><img class="img-thumbnail" src="https://i.imgur.com/Gt10KBq.png" alt="placeholder"></a>
          </div>
          <div class="black-description">
            <h4><a href="https://codepen.io/DavidRedmond/full/goQoQY/" target="_blank">Random Quote Machine</a></h4>
              <br>
                <P>This is a zipline project for Free Code Camp to show the use of Javascript and APIs. It's a basic website created and designed by me, that produces a random quote from a famous historial figure. When the user presses a button a request is sent to a database on a different website and a new quote is sent back to the user. They then have the option to get another quote or share it on Facebook or Twitter. It uses Javascript and APIs.</P>
          </div>
      </div>
      <div class="col-md-4 H435">
          <div class="client-sites">
              <a href="http://127.0.0.1:8000/portfolio/"><img class="img-thumbnail" src="https://i.imgur.com/OxZ4UCI.png" alt="placeholder"></a>
          </div>
          <div class="grey-description">
            <h4><a href="https://codepen.io/DavidRedmond/full/JMJWPe" target="_blank">Lottery Number Generator</a></h4>
              <br>
                <p>The Lottery Number Generator was a practice project I developed. It is based on Javascript and randomly generates numbers inside a preset range, in this case 42. Numbers cannot be duplicated and they must be presented on screen in an exact location.</p>
          </div>
      </div>
  </div>
      <br>
      <br>
      <div id="frame" class="row">
        <div class="col-md-6">
              <h1 id="left30" class="black">GET IN TOUCH</h1>
              <div id="map"></div>
        </div>
          <div class="col-md-5">
            <h1 class="black">DO IT NOW!</h1>
            <form action="/" method="POST">
              <div class="form-group">
                  <label>Name</label>
                  <input name="name" class="form-control" placeholder="John Doe">
              </div>
              <div class="form-group">
                  <label>Email address</label>
                  <input name="email" class="form-control" placeholder="name@example.com">
              </div>
              <div class="form-group">
                  <label>Phone Number</label>
                  <input name="phone" class="form-control" placeholder="+48 555 555 555">
              </div>
              <div class="form-group">
                  <label>Message</label>
                  <textarea name="message" class="form-control" placeholder="Write your message here">
                  </textarea>
              </div>
              <div >
                  <button type="submit" class="submit-btn">Submit</button>
              </div>
            </form>

          </div>
          <div class="col-md-1"></div>
          </div>
      </div> <!-- end of row for contacts -->
    </Div>
</div> <!-- end of bg01 container -->


<% include Partials/footer %>
