<% include Partials/header %>

<div id="hero" class="hero__image hero__imageContact ">
  <div id="hero-overlay" class="hero__overlay">
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="frame" class="row contact__box contact__box--raised">
        <div id="platforms" class="col-sm-6">
          <h1 class="contact__title">Reasons to talk</h1>
          <h4>Would you like to recruit me?</h4>
          <h4>Do you need help with a project?</h4>
          <h4>Would you like help learning to code?</h4>
          <h4>Or maybe you want to write an article</h4>
        </div>
        <div class="col-sm-6">
          <h1 class="contact__title">DO IT NOW!</h1>
          <form method="POST" action="/form">
            <div class="form-group">
              <label>Name</label>
              <input name="name" class="form-control" placeholder="John Doe">
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input name="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input name="phone" class="form-control" placeholder="+48 555 555 555">
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea name="message" class="form-control" placeholder="Write your message here"></textarea>
            </div>
            <div>
              <button type="submit" class="form__submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <h1 class="contact__tagLine">WANT A BETTER RELATIONSHIP? ADD ME BELOW...</h1>


  <div class="text-center contact__socialMedia">
    <a href="https://www.facebook.com/daithi12"  target="blank"><h5 class="contact__icons contact__icons--facebook"><i class="fab fa-facebook-f"></i>  Facebook</h5></a>
    <a href="mailto:mail.davidredmond@gmail.com"><h5 class="contact__icons contact__icons--gmail"><i class="far fa-envelope"></i>  Gmail</h5></a>
    <a href="https://github.com/Daver2910" target="blank"><h5 class="contact__icons contact__icons--github"><i class="fab fa-github"></i>  Git Hub</h5></a>
    <a href="https://twitter.com/Dredmond29" target="blank"><h5 class="contact__icons contact__icons--twitter"><i class="fab fa-twitter"></i>  Twitter</h5></a>
    <a href="https://www.freecodecamp.org/daver2910" target="blank"><h5 class="contact__icons contact__icons--ffc"><i class="fab fa-free-code-camp"></i>  Free Code Camp</h5></a>
    <a href="https://codepen.io/DavidRedmond/" target="blank"><h5 class="contact__icons contact__icons--codepen"><i class="fab fa-codepen"></i>  CodePen</h5></a>
    <a href="https://www.linkedin.com/in/dredmond12345678/" target="blank"><h5 class="contact__icons contact__icons--linkedin"><i class="fab fa-linkedin"></i>  LinkedIn</h5></a>
  </div>
</div>

<% include Partials/footer %>
