<% include Partials/header %>
<div class="container" style="margin-bottom: 50px; margin-top: 50px;">
<!-- /.container -->
    <a href="DavidRedmond_FrontEndEngineer.pdf" target="_blank" download>
        Click here
    </a>

</div>
<% include Partials/footer %>
