
<div class="container" style="margin-bottom: 50px; margin-top: 50px;">

    <img src="/images/profile.jpg">
    <a>  Click here.kjhlhgljhgkjgj
    </a>
    <p>CURRICULUM VITAE

David Redmond

+48 574 532 754
mail.davidredmond@gmail.com
Nationality: Irish


EDUCATION & TRAINING

2017 – Present		University of the People	Computer Science

2004 – 2007			AITI Ireland			Tax Accountancy

CSS				Sololearn			Certificate
Fundamentals course

HTML 				Sololearn 			Certificate
Fundamentals course

JavaScript			Sololearn			Certificate
Tutorial course

JavaScript 			Udemy			Certificate
beginner to pro-build

Front End Development	FreeCodeCamp		Profile
course


EMPLOYMENT

2012 – Present		Freelance web developer		R&D UX / UI
I have been building website initially in WordPress and later in MEAN stack Django and small amount of work in React. Mostly this work was for small businesses worldwide.

2017 – Present		Samsung R&D			R&D UX / UI
Collecting user feedback, researching software solutions based on the feedback received. Monitoring market changes and updating our code and error fix.

2013 – 2016		Target Language Sp. z o. o.		Owner / Managing Director
I set-up and ran a successful language school in Warsaw. Dealing with both private and corporate clients.

2011 – 2013		Lionbridge (Microsoft Project)		Application Tester
My duties included software testing and performing manual and automated testing for the client, while working in a multilingual & multicultural environment.
TECHNICAL SKILLS

SKILLS              	FRAMEWORKS

JavaScript		Bootstrap
HTML 5		Django
CSS 3			jQuery
Python		Angular
PHP			React (library)
SASS			Node.js
GIT
BEM & SMACCS


EXPERTISE

Web Development			Android
Coding & Programming		Technical Documentation
Site Troubleshooting			Web Analytics
UX & UI Design			Quality Control


SOFT SKILLS

Genuine self-interest in web technologies and continuous learning
Understanding of the UX design principles
Ability to work in a team, communicative skills, diligence
Practical knowledge of mobile technology
Highly organised
Flexible
Adaptable


CUSTOMER-RELATIONSHIP SKILLS

Performing clear, detailed project outlines, progress and technical reports
Ability to write clean / semantic code
Adjusting technical explanations to client's knowledge level


FOREIGN LANGUAGES

English - Native
Polish - B2

</p>
</div>
