<% include Partials/header %>
<div class="container-fluid">
  <h1 class="portfolio-section__title"><%= $t.portfolio.header %></h1>
      <div class="row portfolio__frame">

          <% $t.portfolio.projects.forEach(project => { %>
              <%- include('Partials/project', {project}); %>
          <% }) %>

      </div>
    </div>

<% include Partials/footer%>
