@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Condensed");
.navbar {
  border: none; }

img {
  max-width: 170%; }

.client-sites img {
  width: 360px;
  height: 168px; }

.certs {
  height: 185px; }
  .certs img {
    max-height: 100%; }

/***************   BODY STYLES   ***************/
body {
  font-family: raleway, roboto condensed, monserrat, sans-serif;
  background-color: #111614; }
  body h1 {
    color: #0AE7EC; }
  body .black {
    color: #111614; }
  body .bg01 {
    background-color: #fff;
    margin-top: -180px;
    z-index: 0; }

.spacer-100 {
  padding-top: 140px; }

.spacer-50 {
  padding-top: 50px; }

.move-up {
  margin-top: -360px; }

a a:hover a:visited a:link {
  background-color: transparent; }

/***************   MENU STYLES   ***************/
nav .navbar {
  padding-top: 0px;
  margin-top: 40px; }
nav .nav-header {
  display: inline-block;
  padding-top: 0px;
  margin-top: 40px; }
nav ul {
  margin-top: 30px; }
  nav ul li {
    font-size: 200; }
    nav ul li a {
      color: #fff;
      font-size: 18px; }
    nav ul li a:hover {
      background-color: transparent !important;
      color: #0AE7EC;
      padding-bottom: 5px;
      border-bottom: solid 3px #0AE7EC; }

/***************   FOOTER STYLES   ***************/
footer h5 {
  text-align: center; }

/***************   HOMEPAGE STYLES   ***************/
#hero {
  background-image: url("https://i.imgur.com/taoUr5w.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -115px;
  bottom: 0;
  height: 105vh;
  z-index: -1;
  pointer-events: none; }

/* flower*/
#hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: table;
  pointer-events: none; }

#hero-text {
  margin-top: -560px;
  text-align: center;
  margin-bottom: 400px; }
  #hero-text h1 {
    color: #eee;
    font-family: raleway, roboto condensed, monserrat, sans-serif;
    font-size: 60px; }

#hero-button {
  color: #111614;
  font-size: 20px;
  background-color: #0AE7EC;
  margin: 35px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  text-decoration: none;
  cursor: url(myBall.cur), auto; }

.about-box {
  background-color: #dedede;
  margin-top: 0px;
  border: none;
  margin: auto;
  padding: 0, auto, 20px, auto;
  width: 80%; }
  .about-box .profile-pic {
    margin-top: 25px;
    margin-left: auto; }

.baseline {
  min-height: 100px;
  max-width: 100%;
  border: none;
  margin: auto;
  padding: none;
  background-color: #0AE7EC; }
  .baseline .left {
    float: left;
    margin-top: 30px;
    margin-left: 70px; }
  .baseline .right {
    float: right;
    margin-top: 30px;
    margin-right: 70px; }

.H435 {
  height: 450px; }

.grey-description {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: #eee;
  height: 282px; }
  .grey-description h4 {
    margin-bottom: 0px; }
  .grey-description a {
    text-decoration: none;
    color: #0AE7EC; }

.blue-description {
  background-color: #0AE7EC;
  padding: 8px;
  height: 282px; }
  .blue-description h4 {
    margin-bottom: 0px; }
  .blue-description a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5); }

.black-description {
  background-color: #111614;
  padding: 8px;
  color: #eee;
  height: 282px; }
  .black-description h4 {
    margin-bottom: 0px; }
  .black-description a {
    text-decoration: none;
    color: #0AE7EC; }

.icons-home {
  display: inline;
  margin-x: auto;
  margin-left: 30px;
  padding: 15px; }
  .icons-home a {
    font-family: raleway;
    text-decoration: none;
    color: #fff; }

.form-control {
  border: solid 1px #dedede;
  border-radius: 0px; }

.submit-btn {
  color: #111614;
  background-color: #0AE7EC;
  margin: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none; }

.header {
  color: #0AE7EC;
  margin-left: 10px; }

/***************   BLOG STYLES    ***************/
#blog-hero {
  background-image: url("https://i.imgur.com/crHKVdl.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -115px;
  bottom: 0;
  height: 100vh;
  z-index: -10; }

#blog-hero-text {
  position: absolute;
  width: 25vw;
  top: 20px;
  left: 20px;
  padding-top: 50px;
  padding-bottom: 170px;
  background-color: #0AE7EC;
  display: table; }

.card .img-card {
  max-width: 100%; }
.card h3 {
  text-align: center; }

.post-image {
  width: 100%;
  margin: auto; }

.article-head {
  display: inline-block;
  color: #fff; }
  .article-head h3 {
    float: left;
    padding-bottom: 0; }
  .article-head h5 {
    float: right;
    padding-bottom: 0;
    margin-top: 30px; }

.articles {
  padding: 25px;
  color: #fff; }

.text {
  word-break: break-all; }

.card-title {
  color: #fff; }

.card-text {
  color: #fff; }

/***************   CONTACT STYLES   ***************/
#hero-contact {
  background-image: url("https://i.imgur.com/DwP1QCk.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -115px;
  bottom: 0;
  height: 100vh;
  z-index: -10; }

.contact-head {
  text-align: left;
  margin-top: 15%;
  margin-left: 50px;
  color: #eee; }

.icons {
  display: inline-block;
  margin-x: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px; }
  .icons a {
    font-family: raleway;
    text-decoration: none;
    color: #fff; }

.icons:hover {
  background-color: #0AE7EC; }

.facebook {
  background-color: #4267B2; }

.twitter {
  background-color: #55ACEE; }

.linkedin {
  background-color: #0077B5; }

.ffc {
  background-color: #006400; }

.github {
  background-color: #24292E; }

.codepen {
  background-color: #000000; }

.gmail {
  background-color: #D14130; }

#box {
  padding-bottom: 20px;
  margin-bottom: 20px; }

#map {
  width: 100%;
  height: 363px; }

.aboutBox {
  color: white; }

.modal {
  display: hidden;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: 10% 20%;
  padding: 20px;
  border-radius: 0;
  border: 1px solid #888;
  width: 60%; }

.close {
  color: #111614;
  float: right;
  font-size: 40px;
  font-weight: bold; }

#download {
  color: black;
  float: right;
  background-color: #0AE7EC;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 15px; }

#sendBtn {
  color: black;
  background-color: #0AE7EC;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 15px; }

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#frame {
  border: 1px solid #0AE7EC;
  background-color: #dedede;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.galleryCaption {
  color: #0AE7EC;
  background-color: black; }

.portfolioImg {
  padding: 10px; }

#portLotto {
  display: none;
  background-color: rgba(10, 231, 236, 0.9); }
  #portLotto h2, #portLotto h3, #portLotto p {
    color: #111614; }

#portRandom {
  display: none;
  background-color: rgba(10, 231, 236, 0.9); }
  #portRandom h2, #portRandom h3, #portRandom p {
    color: #111614; }

#portET {
  display: none;
  background-color: rgba(10, 231, 236, 0.9); }
  #portET h2, #portET h3, #portET p {
    color: #111614; }

.portOverflow {
  text-align: center;
  pointer-events: none;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }
  .portOverflow h1, .portOverflow h2, .portOverflow h3, .portOverflow h4, .portOverflow p {
    text-align: justify;
    padding: 30px;
    text-decoration: none;
    text-indent: 8px; }

#lotto {
  background-image: url("https://i.imgur.com/OxZ4UCI.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0; }

#random {
  background-image: url("https://i.imgur.com/qXSgy4c.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0; }

#ET {
  background-image: url("https://i.imgur.com/JHwQg14.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0; }

/*# sourceMappingURL=main.css.map */
