.hero {
	&__image {
		background-size: cover;
		background-position: center center;
		position: relative;
		top: 0;
		bottom: 0;
		height: 100vh;
		z-index: -1;
		pointer-events: none;
		&--main {
			background-image: url('/images/mainHero.jpg');
		}
		&--contact{
			background-image: url('/images/contactHero.jpg');
		}
		&--blog {
			background-image: url('/images/blogHero.jpg');
		}
	}
	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
		background-color: $overlayColor;
		text-align: center;
		display: table;
		pointer-events: none;
	}
	&__content {
		margin-top: -65vh;
		text-align: center;
		margin-bottom: 200px;
	}
	&__text {
		color: $textColorInverted;
		font-family: $font-stack;
		font-size: 50px;
	}
	&__textContact{
		text-align: left;
		margin-top: 15%;
		margin-left: 50px;
		color: $textColorInverted;
	}
	&__button {
		color: $bg-cMain;
		font-size: 20px;
		background-color: $accentColor;
		margin: 35px;
		padding: 15px 80px;;
		border: none;
		text-decoration: none;
		@include animation(0.3s, ease-in);
		&:hover {
			transform: scale(1.15);
			@include animation(0.5, ease-out)
		}
	}
}
#blog-hero-text {
	position: absolute;
	width: 25vw;
	top: 70px;
	left: 20px;
	padding: 50px 30px;
	background-color: $accentColor ;
	display: table;
}
