@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Condensed');

$font-stack: raleway, roboto condensed, monserrat, sans-serif;
$font-logo: Fredoka One, Open Sans, arial, helveitica, sans-serif,;
$bg-cMain: rgb(17,22,20);
$bg-cInverted: #fff;
$overlayColor: rgba(0,0,0,0.5);
$bg-cBox: #dedede;
$textColorMain: #fff;
$textColorInverted: #eee;
$accentColor: #0AE7EC;

$text__color--dark: #000000;
$text__color--light: #ffffff;

$footerBg: #f123ff;
